<?xml version="1.0" encoding="utf-8"?>
<Domain Key="a9a263ed-0000-0000-0000-000000000000" Alias="https://test-site-miguelguedelha_umbraco_redirectsmanager.dev.localhost:44338/casa-4">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>pt-PT</Language>
    <Root Key="26ff9b49-3e8a-4b11-9ec1-c253b5d53f9e">/Site Group 1/Home 4</Root>
  </Info>
</Domain>