<?xml version="1.0" encoding="utf-8"?>
<Domain Key="9a40e3b9-0000-0000-0000-000000000000" Alias="https://test-site-miguelguedelha_umbraco_redirectsmanager.dev.localhost:44338/home-3">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-US</Language>
    <Root Key="2b5dd0d6-23d3-4cf1-b502-f69273ef82ee">/Site Group 1/Home 3</Root>
  </Info>
</Domain>