<?xml version="1.0" encoding="utf-8"?>
<Domain Key="54f1fa83-0000-0000-0000-000000000000" Alias="https://test-site-miguelguedelha_umbraco_redirectsmanager.dev.localhost:44338/home-1">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-US</Language>
    <Root Key="1c77f8b3-cc9e-4ceb-a708-0ae437675096">/Home 1</Root>
  </Info>
</Domain>