<?xml version="1.0" encoding="utf-8"?>
<Domain Key="d6e7aaf4-0000-0000-0000-000000000000" Alias="https://test-site-miguelguedelha_umbraco_redirectsmanager.dev.localhost:44338/casa-1">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>pt-PT</Language>
    <Root Key="1c77f8b3-cc9e-4ceb-a708-0ae437675096">/Home 1</Root>
  </Info>
</Domain>