<?xml version="1.0" encoding="utf-8"?>
<Domain Key="eef14d23-0000-0000-0000-000000000000" Alias="https://test-site-miguelguedelha_umbraco_redirectsmanager.dev.localhost:44338/casa-2">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>pt-PT</Language>
    <Root Key="9eb643d2-6462-4586-a647-044670a210d7">/Home 2</Root>
  </Info>
</Domain>