<?xml version="1.0" encoding="utf-8"?>
<Content Key="2b5dd0d6-23d3-4cf1-b502-f69273ef82ee" Alias="Home 3" Level="2">
  <Info>
    <Parent Key="90e75392-fe1c-47fd-af9e-0703e5ada77b">Site Group 1</Parent>
    <Path>/SiteGroup1/Home3</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-02-08T11:37:28</CreateDate>
    <NodeName Default="Home 3">
      <Name Culture="en-US">Home 3</Name>
      <Name Culture="pt-PT">Casa 3</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="pt-PT">true</Published>
    </Published>
    <Schedule />
    <Template Key="019c3cfd-39d6-7a73-a135-f8c7f600910a">Page</Template>
  </Info>
  <Properties>
    <testField>
      <Value Culture="en-US"><![CDATA[Test 3]]></Value>
      <Value Culture="pt-PT"><![CDATA[Teste 3]]></Value>
    </testField>
  </Properties>
</Content>