<?xml version="1.0" encoding="utf-8"?>
<Content Key="26ff9b49-3e8a-4b11-9ec1-c253b5d53f9e" Alias="Home 4" Level="2">
  <Info>
    <Parent Key="90e75392-fe1c-47fd-af9e-0703e5ada77b">Site Group 1</Parent>
    <Path>/SiteGroup1/Home4</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-02-08T11:37:35</CreateDate>
    <NodeName Default="Home 4">
      <Name Culture="en-US">Home 4</Name>
      <Name Culture="pt-PT">Casa 4</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="pt-PT">true</Published>
    </Published>
    <Schedule />
    <Template Key="019c3cfd-39d6-7a73-a135-f8c7f600910a">Page</Template>
  </Info>
  <Properties>
    <testField>
      <Value Culture="en-US"><![CDATA[Test 4]]></Value>
      <Value Culture="pt-PT"><![CDATA[Casa 4]]></Value>
    </testField>
  </Properties>
</Content>