<?xml version="1.0" encoding="utf-8"?>
<Content Key="9eb643d2-6462-4586-a647-044670a210d7" Alias="Home 2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home2</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-02-08T11:33:07</CreateDate>
    <NodeName Default="Home 2">
      <Name Culture="en-US">Home 2</Name>
      <Name Culture="pt-PT">Casa 2</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="pt-PT">true</Published>
    </Published>
    <Schedule />
    <Template Key="019c3cfd-39d6-7a73-a135-f8c7f600910a">Page</Template>
  </Info>
  <Properties>
    <testField>
      <Value Culture="en-US"><![CDATA[Test 2]]></Value>
      <Value Culture="pt-PT"><![CDATA[Casa 2]]></Value>
    </testField>
  </Properties>
</Content>