<?xml version="1.0" encoding="utf-8"?>
<Content Key="d58f2c88-fda4-4639-8e74-58cb84964762" Alias="Sub-page 1" Level="2">
  <Info>
    <Parent Key="9eb643d2-6462-4586-a647-044670a210d7">Home 2</Parent>
    <Path>/Home2/SubPage1</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-02-08T11:33:07</CreateDate>
    <NodeName Default="Sub-page 1">
      <Name Culture="en-US">Sub-page 1</Name>
      <Name Culture="pt-PT">Sub-pagina 1</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="pt-PT">true</Published>
    </Published>
    <Schedule />
    <Template Key="019c3cfd-39d6-7a73-a135-f8c7f600910a">Page</Template>
  </Info>
  <Properties>
    <testField>
      <Value Culture="en-US"><![CDATA[Sub 1]]></Value>
      <Value Culture="pt-PT"><![CDATA[Sub 1]]></Value>
    </testField>
  </Properties>
</Content>