<?xml version="1.0" encoding="utf-8"?>
<Content Key="b6b76678-1bb6-4482-a3cf-ab45b25fde90" Alias="Sub-page 2" Level="3">
  <Info>
    <Parent Key="26ff9b49-3e8a-4b11-9ec1-c253b5d53f9e">Home 4</Parent>
    <Path>/SiteGroup1/Home4/SubPage2</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-02-08T11:37:35</CreateDate>
    <NodeName Default="Sub-page 2">
      <Name Culture="en-US">Sub-page 2</Name>
      <Name Culture="pt-PT">Sub-pagina 2</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="pt-PT">true</Published>
    </Published>
    <Schedule />
    <Template Key="019c3cfd-39d6-7a73-a135-f8c7f600910a">Page</Template>
  </Info>
  <Properties>
    <testField>
      <Value Culture="en-US"><![CDATA[Sub 2]]></Value>
      <Value Culture="pt-PT"><![CDATA[Sub 2]]></Value>
    </testField>
  </Properties>
</Content>